@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

*,
*::before,
*::after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'pretendard', sans-serif;
    line-height: inherit;
    background-color: #fff;
    outline: 1px solid #eee;
    border-top: inherit;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

ul,
ol,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

input,
textarea {
    box-sizing: border-box;
    padding: 8px;
    background-color: #fff;
    /* border: inherit; */
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    height: 36px;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #3498DB;
    box-sizing: border-box;
}

select {
    width: 80px;
    padding: 4px;
    border: inherit;
    background-color: inherit;
    margin-left: auto;
    outline: none;
}

select:focus {
    outline: none;
}

header {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    color: #333;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
}

header h1 {
    font-size: 1.125rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#wrap {
    background-color: #f9f9f9;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.li {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.li textarea {
    height: 120px;
}

.btm-btn {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 560px;
}

.btm-btn .done {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #3498DB;
    position: relative;
    align-items: center;
}